---
layout: default
---
<!--<h6 style="text-align:center;font-size: 30px;" class="post-headline">{{page.title}}</h1>-->
<!--<p class="meta"><small>{{page.date | date: '%B %d, %Y'}}</small></p>-->


<div style="background-color: black;height: 1px;width: auto;"></div>
<h2 style="text-align:center;font-size: 30px;">{{ page.title }}</h2>
<div style="background-color: black;height: 1px;width: auto;"></div>

<!--
<div class="projectBar">
    <span>
        <h2 style="text-align:center;font-size: 30px;">{{ page.title }}</h2>
    </span>
</div>
-->

{{content}}

<!-- Comments only for posts -->
{% if page.path contains '_posts' %}
    {% if site.disqus-shortname %}
        {% include disqus.html %}
    {% endif %}
{% endif %}
